<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.gmail"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".discovery.dial.MainActivity"
            android:label="Discovery"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".login.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".discovery.dial.MainActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity"
            />
        <activity android:name=".control_diagnostic.ControlDiagnostic"
            android:label=""
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".control_diagnostic.diagnostic.DiagnosticActivity"
            android:label="Diagnostic"
            android:parentActivityName=".activity.MainActivity"
            />
        <activity android:name=".control_diagnostic.diagnostic.sample.MainActivity"
            android:label="Diagnostic"
            android:parentActivityName=".activity.MainActivity"
            />
        <activity android:name=".control_diagnostic.diagnostic.DemoActivity"
            android:label="Diagnostic"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>